<div>
    <uif-command-bar>
        <uif-command-bar-side ng-show="$root.selectedResult != null">
            <uif-command-bar-item>
                <uif-icon uif-type="CustomList" style="margin-right:10px;" ng-click=""></uif-icon>
                <span>View Properties</span>
            </uif-command-bar-item>
            <uif-command-bar-item>
                <uif-icon uif-type="EditNote" ng-click=""></uif-icon>
                <span>Edit Document</span>
            </uif-command-bar-item>
            <uif-command-bar-item>
                <uif-icon uif-type="OpenFolderHorizontal" ng-click=""></uif-icon>
                <span>Open Container</span>
            </uif-command-bar-item>
            <uif-command-bar-item>
                <uif-icon uif-type="Download" ng-click=""></uif-icon>
                <span>Download</span>
            </uif-command-bar-item>
        </uif-command-bar-side>
    </uif-command-bar>
</div>